<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); %>
        <title>Goal Tracker | Goals</title>
</head>

<body>
    <div class="container">
        <%- include('includes/nav'); %>
        <br>
        <h1 class="text-center text-uppercase">Goals</h1>
        <% if (user) { %>
            <small id="profileID" class="form-text text-center text-muted">User Id: <%= user.id %></small>
            <br>
        <% } %>
        <%- include('includes/goalForm'); %>
        <%- include('includes/goalList'); %>
    </div>
</body>

</html>
