<!doctype html>
<html>

<head>
    <%- include('includes/head'); %>
    <title>Goal Tracker | Profile</title>
</head>

<body>
    <div class="container">
        <%- include('includes/nav'); %>
        <br>
        <div class="page-header text-center">
            <h1><span class="fa fa-user"></span> Profile Page</h1>
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
